# Dependencias de Node.js
node_modules/

# Archivos de salida/generados
dist/
build/

# Archivos de entorno (credenciales y configuración sensible)
.env

# Logs y cachés
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/

# Editor/IDE específicos 
.vscode/
.idea/

# Sistema operativo específico 
# Windows

# Archivos de lock
package-lock.json
yarn.lock

dump/

coverage/
